div{
    background-color: cornsilk;
}
.outer-box{
    display: flex;
}
.h1{
    background-color: burlywood;
    flex-grow: 1;
}
.h2{
    background-color: cadetblue;
    flex-grow: 2;
}
