h3{
    background-color: darksalmon;
    border: 2px solid;
    padding: 5px;
    margin: 4px;
    width: 100px;
    
}

div{
    display: flex;
    padding: 10px;
    border: 1px  rebeccapurple solid ;
    /* width: 300px; */
    flex-wrap: wrap;

    
}